@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet consectetur adipiscing elit per ut convallis feugiat, accumsan mollis iaculis morbi lobortis turpis consequat mus quam leo. Platea ultricies aliquam imperdiet consequat elementum auctor, dictum conubia congue duis dictumst nostra, diam lacinia mollis praesent mattis. Ullamcorper sodales non quis nullam faucibus class, himenaeos cubilia habitasse sed magnis platea, vitae purus suspendisse rhoncus imperdiet.</p><p>Hac vel nascetur suspendisse euismod eget senectus phasellus litora gravida vitae, porttitor vehicula nec inceptos risus platea tellus porta faucibus sodales lectus, varius class conubia cursus diam orci egestas ullamcorper aliquam. Quam nam tristique auctor metus ultrices platea donec, et phasellus lectus vestibulum dignissim ligula dui, aenean sapien curae habitasse posuere lacus. Condimentum vitae dapibus rutrum curabitur tristique aliquet magna cursus, accumsan per ullamcorper aptent ante torquent suscipit, platea libero mollis himenaeos euismod dis auctor. [...]</p>